* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
}

.text-title {
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0 20px;
    transition: .2s;
    margin: 5px 0 5px;
}

.nav a:hover {
    text-decoration: underline;
}

.tel a {
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

.logo-tel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.logo {
    color: rgb(200, 143, 143);
    font-size: 36px;
    font-weight: 700;
}

.btn-tel {
    border: 2px solid rgb(200, 143, 143);
    border-radius: 30px;
    padding: 5px 10px;
    transition: .3s;
}

.btn-tel:hover {
    background-color: rgb(58, 58, 58);
    color: white;
}

.header-wrapper {
    border-bottom: 1px solid rgb(144, 144, 144);
}

.header-bottom {
    padding: 15px 0 5px;
    background-color: white;
}

.banner__wrapper {
    position: relative;
}

.banner-slide {
    width: 100%;
    height: 470px;
}

.block-white {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 248, 255, 0.579);
}

.banner-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text__title {
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-30%, -30%);
}

.title {
    margin-bottom: 30px;
}

.text__title p {
    margin-bottom: 30px;
    width: 400px;
}

.text__title a {
    border: 2px solid rgb(200, 143, 143);
    color: black;
    border-radius: 30px;
    padding: 5px 15px;
    text-decoration: none;
    transition: .3s;
}

.text__title a:hover {
    background-color: rgb(58, 58, 58);
    color: white;
}

.new__tovars_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    width: 210px;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border: solid 1px rgb(200, 143, 143);
    transition: 0.3s;
}

.product:hover {
    box-shadow: 0px 8px 15px 6px rgba(0, 0, 0, 0.25);
}

.product_title {
    text-align: center;
    font-size: 15px;
    color: black;
    text-decoration: none;
    padding: 10px 2px;
}

.product_title:hover {
    color: black;
}

.product_image {
    position: relative;
    display: block;
    overflow: hidden;
    height: 258px;
}

.product_swith {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: flex;
}

.image-swith_item {
    flex-grow: 1;
    cursor: pointer;
}

.image-swith_img {
    position: absolute;
    left: 50%;
    z-index: 2;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    pointer-events: none;
    justify-content: center;
    opacity: 0;
}

.image-swith_img img {
    width: 100%;
}

.image-swith_item:first-child .image-swith_img {
    opacity: 1;
    z-index: -1;
}

.image-swith_item:hover .image-swith_img {
    opacity: 1;
    z-index: -1;
}

.product_btn {
    border: 2px solid rgb(200, 143, 143);
    margin: 0 auto;
    border-radius: 30px;
    padding: 5px 30px;
    transition: .3s;
}

.product_btn:hover {
    background-color: rgb(58, 58, 58);
    color: white;
}











.footer {
    width: 100%;
    height: 300px;
    background-color: rgb(37, 35, 35);
    flex-grow: 1;
}

.footer-wrap {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.footer-wrap a {
    color: rgb(200, 143, 143);
    text-decoration: none;
    margin-top: 100px;
}

.footer-wrap a:hover{
    text-decoration: underline;
}

.footer__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    font-stretch: condensed;
    color: white;
    transform: scaleX(0.5);
}

.footer p {
    width: 50%;
    margin: 20px auto;
    color: rgb(130, 130, 130);
}

.footer__btn{
    background-color: rgb(200, 143, 143);
    padding: 10px 40px;
    color: white;
    border: none;
}

.footer__btn:hover{
    background-color: black;
    color: white;
}